name: Check Table of Contents (comment /regenerate-toc to auto-fix)

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  check-formatting:
    if: github.event.pull_request.draft != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Mono
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete

      - run: ./docs/build_toc.sh --check-only
